<script>
    setTimeout(() => window.location.reload(), 1000 * 60);
</script>
<table>
    <thead>
        <tr>
            <th>Project</th>
            <th>Status</th>
            <th title="Buenos aires time zone">Last Updated*</th>
            <th title="Buenos aires time zone">Last Alive*</th>
            <th>Last Delay</th>
            <th>AVG Delay</th>
            <th>Count</th>
            <th>Fails</th>
        </tr>
    </thead>
    <tbody>
        {{#each projects}}
        <tr>
            <td>{{this.name}}</td>
            <td class="{{isAliveClass this.stat.success}}">
                {{isAlive this.stat.success}} ({{this.stat.status}})
            </td>
            <td title="Buenos aires time zone">{{date this.stat.timestamp}}</td>
            <td title="Buenos aires time zone">{{date this.lastAlive}}</td>
            <td>
                {{#if this.stat.time}}
                    {{this.stat.time}}ms
                {{else}}
                    --
                {{/if}}
            </td>
            <td>{{round this.stat.avg}}ms</td>
            <td>{{this.stat.count}}</td><td>{{this.stat.fails}} ({{percent this.stat.fails this.stat.count}}%)</td>
        </tr>
        {{/each}}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="8">* Buenos Aires time zone</td>
        </tr>
    </tfoot>
</table>